{% extends 'base.html.twig' %}

{% block title %}CGU AwShop Ecommerce{% endblock %}

{% block body %}

<div class="container">

    {# partial title_section #}
    {{ include("_partials/_title_section.html.twig", { 'name': 'Conditions Générales d\'Utilisation' }) }}

    <h1 class="text-center">Conditions Générales d'Utilisation du site AwShop Ecommerce</h1>

    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quaerat, reprehenderit nobis saepe beatae, alias consequuntur quis tempore magnam et voluptate optio maiores porro. Ex laudantium veritatis ratione dolore veniam.
        Eos accusamus atque quo maiores illum nesciunt distinctio provident? Voluptates suscipit, aliquid error quo autem mollitia eos. Voluptatum, odio quaerat, nam asperiores corporis est, reiciendis eaque nulla dicta quibusdam ullam.
        Autem beatae libero iste ad temporibus eum laboriosam dolorem voluptatum asperiores praesentium debitis suscipit aliquam nobis, aut animi quod dolores. Quae sit explicabo provident magni earum itaque placeat, corrupti aperiam!
        Sapiente fuga atque voluptates dolore, itaque quas magnam, quam rerum culpa tenetur ratione officiis nam reiciendis aliquam quo similique consequuntur provident voluptas repudiandae quasi impedit. Ipsa ratione temporibus nostrum commodi?
        Voluptatem voluptatibus sed temporibus ipsa aperiam, nostrum dignissimos asperiores quod dolores officia dolore inventore eveniet! Deserunt inventore necessitatibus est perferendis. Qui nostrum quidem vero ut enim quasi quam beatae odio!
        Libero voluptates incidunt ea quisquam iusto quos soluta laudantium ut, dolores quis quasi voluptatum doloribus deleniti est quam rerum. Aspernatur repellendus nam aliquid iste qui ad corrupti officiis ipsum dignissimos?
        Accusamus ea iure commodi molestias temporibus odio minima qui saepe iusto possimus nisi nulla dolor, molestiae quae vel hic doloremque aut illo veritatis tempora error nihil, ex architecto. Quae, ad.
        Vel asperiores, iusto quae impedit sequi ullam. Recusandae, porro. Pariatur natus hic quo praesentium omnis aspernatur voluptate doloremque iste dignissimos. Provident minus cum accusamus quis excepturi praesentium tempore laboriosam consectetur.
        Iusto incidunt nam similique, aliquid laboriosam cum doloribus culpa voluptates asperiores, delectus id eos atque ducimus quos pariatur aut libero voluptatum dolorem, et eius fugiat officia? Cum quidem quasi eligendi!
        Officia necessitatibus nobis adipisci est optio minus dolores ipsam laborum ut ratione? Modi eius non labore odit assumenda facere explicabo ullam voluptate saepe quae cumque natus, vero atque repellat commodi?
        Qui, eaque molestiae eligendi ab reprehenderit dolor velit fugit, architecto amet necessitatibus quas modi esse ipsa non eum omnis vel. Omnis dolorum delectus in facilis eveniet odio. Neque, at porro?
        Molestiae illum repudiandae enim laboriosam maxime quas minima provident consequatur odio laborum repellat voluptate debitis, possimus unde a tenetur quos, earum asperiores adipisci ipsa reiciendis! Eveniet aliquam sit dolorum ex!
        Animi veniam tenetur nesciunt natus adipisci, deleniti repellendus culpa saepe molestias facere at recusandae? Similique modi, cum, molestiae voluptatibus sint, cumque explicabo fuga repudiandae assumenda corporis dolorum asperiores suscipit. Vel?
        Ea nihil dicta blanditiis non harum sunt dignissimos minima sed voluptatibus iste ipsa commodi eligendi optio, beatae pariatur eum at! Minima dolorum nisi amet perferendis error eligendi sapiente pariatur eaque!
        Fuga dignissimos nobis, laborum voluptatum provident, repellendus animi temporibus id, pariatur ipsum a delectus mollitia inventore! Laborum inventore alias rem? Magni rem placeat quam eum deserunt temporibus natus, maiores consequuntur!
        Cumque corporis quam recusandae voluptatum impedit aperiam reprehenderit molestias, quaerat ab cum asperiores praesentium provident voluptate inventore alias ad maiores beatae enim. Et exercitationem aperiam aliquid tempora numquam aspernatur id.
        Expedita quasi rem alias odit, magnam dolore. Odio dolorem dolore deserunt harum ipsam voluptas alias incidunt accusamus, aspernatur porro unde, debitis asperiores corporis delectus repellat placeat! Nisi molestiae sequi quos?
        Aspernatur possimus voluptatem nihil vel reiciendis alias! Necessitatibus, nihil laborum alias pariatur molestiae ipsa optio in, deserunt nisi a eaque tempora explicabo illo delectus animi ratione quos laboriosam ipsum consequatur!
        Enim voluptatem, architecto ad voluptas soluta ab quam quos ipsum. Ipsa, repellat doloremque ducimus rerum, corporis facilis dolor maiores cumque ut veniam fuga, aliquid debitis perspiciatis odit. Qui, laborum perferendis.
        Ipsam molestiae unde libero sit ducimus asperiores, quas quaerat, dolor, reprehenderit et debitis. Sunt vero nihil possimus alias dignissimos eveniet, ad culpa autem facere explicabo fuga! Debitis sapiente ab voluptatum.
    </p>
</div>
{% endblock %}
